<div class="grid">
  <div class="col-12">
    <div [ngClass]="{'card':true}">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <h1>{{title}}</h1>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <button pButton pRipple [label]="'Add New'" icon="pi pi-plus" class="inline-block mr-2"
            (click)="openNew()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="products" [rows]="10" [paginator]="true" responsiveLayout="scroll" [rowHover]="true"
        dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>#Id</th>
            <th>Name En</th>
            <th>Name Ar</th>
            <th>Desc</th>
            <th>Price </th>
            <th>Stock </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>

            <td>{{product.id}}</td>
            <td>{{product.nameEn}}</td>
            <td>{{product.nameAr}}</td>
            <td>{{product.desc}}</td>
            <td>{{product.price | currency:'USD'}}</td>
            <td>{{product.stock}}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                (click)="editProduct(product)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="deleteProduct(product)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>


    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <form [formGroup]="form">
          <div class="field">
            <label for="name">Name En</label>
            <input type="text" pInputText formControlName="nameEn" />
            <div *ngIf="isSubmit && this.form.controls.nameEn.invalid " class="help-block mt-1 text-danger"> <i
                class="ft-alert-circle align-middle"></i>
              Required</div>
          </div>
          <div class="field">
            <label for="name">Name Ar</label>
            <input type="text" pInputText formControlName="nameAr" />
            <div *ngIf="isSubmit && this.form.controls.nameAr.invalid " class="help-block mt-1 text-danger"> <i
                class="ft-alert-circle align-middle"></i>Required
            </div>
          </div>
          <div class="field">
            <label for="name">Description</label>
            <input type="text" pInputText formControlName="desc" />
            <div *ngIf="isSubmit && this.form.controls.desc.invalid " class="help-block mt-1 text-danger"> <i
                class="ft-alert-circle align-middle"></i>Required
            </div>
          </div>

          <div class="formgrid grid">
            <div class="field col">
              <label for="price">Price</label>
              <p-inputNumber formControlName="price" [min]="0" mode="currency" currency="USD"
                locale="en-US"></p-inputNumber>
              <div *ngIf="isSubmit && this.form.controls.price.invalid " class="help-block mt-1 text-danger"> <i
                  class="ft-alert-circle align-middle"></i> must be greater than or equal 0
              </div>
            </div>

            <div class="field col">
              <label for="quantity">Stock</label>
              <p-inputNumber id="quantity" [min]="0" formControlName="stock"></p-inputNumber>
              <div *ngIf="isSubmit && this.form.controls.price.invalid " class="help-block mt-1 text-danger"> <i
                  class="ft-alert-circle align-middle"></i> must be greater than or equal 0
              </div>
            </div>
          </div>
        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>